*
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.video-container
{   
    background-color:black;
    height: 100vh;
    width: 100vw;
}

video
{  
    position: absolute ;
    height: 100%;
    width: 100%;
}
/* video{
    margin: auto;
} */

.video-filters
{
    display:flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    left: 10vh;
    top:5vh;
    z-index: 1;
}

.filter-div
{
    position:absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    /* z-index: -1; */
}
.filter
{   
    height: 110px;
    width: 100px;
    background-size: cover;
    background-image: url("/images/backgroundFilter.jpg");
    background-blend-mode:hard-light;
    cursor: pointer;
    border: 2px solid white;
}

.controls
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    position: absolute;
    right: 10vh;
    top: 10vh;
    height: 500px;
    z-index: 1;
}

.zoom
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
}

.zoom div
{   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.record,.capture,.galleryBtn
{   
    height: 80px;
    width: 80px;
    border: 5px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color: white;
    background-color: transparent;
}

.inner-record
{   
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: red;
}
.inner-capture
{   
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: white;    
}

.animate-record
{
    animation-name: scaleInScaleOut;
    animation-duration:0.5s;
    animation-iteration-count: infinite;
}

.animate-capture
{
    animation-name: scaleInScaleOut;
    animation-duration:0.5s;
    animation-iteration-count:2;
}

@keyframes scaleInScaleOut
{
    0%{
        transform: scale(1);
    }
    50%
    {
        transform: scale(1.1);
    }
    100%
    {
        transform: scale(1);
    }
}
.fa-solid
{
    color: white;
    cursor: pointer;
}